.facebook {
    margin-bottom: 100px;

    a {
        font-size: inherit;
        color: $mainGold;
        text-decoration: underline;
    }

    img {
        width: 100%;
        height: 600px;
        border-radius: 10px;
        filter: drop-shadow(0 0 6px $mainBlack);
        opacity: 0.8;
        transition: .3s;

        &:hover {
            opacity: 1;

        }

    }

    @media (max-width:950px) {
        .container {
            padding: 10px;

        }
    }

}