.side-links {
    position: fixed;
    top: 20%;
    left: 0;
    width: 0px;

    .link {
        width: 120px;
        height: 40px;
        transition: .7s;
        transform: translateX(40px);
        color: $mainWhite;
        padding: 0 5px;
        cursor: pointer;

        svg {
            color: $mainWhite;
            font-size: 27px;
            margin-left: 20px;
        }

        //facebook
        &:first-child {
            border-top-right-radius: 10px;
            background-color: #3982E4;
        }

        //instagram
        &:nth-child(2) {
            background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
        }

        //whatsapp
        &:nth-child(3) {
            background-color: #455A64;

            svg {
                color: #4AC959;
            }
        }

        //gmail
        &:nth-child(4) {
            background-color: #dad9d9;
            color: $mainBlack;
            font-weight: 700;

            svg {
                color: #BB001B;
            }
        }

        //mail
        &:last-child {
            border-bottom-right-radius: 10px;
            background-color: rgb(104, 202, 235);

        }

        &:hover {
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;

            transform: translateX(119px);
        }
    }

    @media (max-width:480px) {
        .link {
            width: 100px;
            height: 30px;
            font-size: 14px;
            transform: translateX(25px);

            svg {
                font-size: 14px;
            }

            &:hover {

                transform: translateX(99px);
            }
        }
    }
}